<%= render 'shared/content_title', title: 'Profile: ' + @user.username %>

<div class="well">
  <dl class="dl-horizontal">
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
  </dl>
</div>

<h5><%= @user.username %>'s activities:</h5>

<ul class="nav nav-tabs">
  <li class=<%= "active" if params[:tab].nil? %>>
    <%= link_to "Post(#{@user.posts.size})", user_path(current_user) %>
  </li>

  <li class=<%= "active" if params[:tab] == "comments" %>>
    <%= link_to "Comments(#{@user.comments.size})", user_path(current_user, tab: 'comments') %>
  </li>
</ul>

<% if params[:tab].nil? %>
  <%= render @user.sorted_posts %>
<% else %>
  <%= render @user.sorted_comments %>
<% end %>